/* Dark theme for the blog */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark background color */
    color: #ddd; /* Light text color */
}

header {
    background-color: #003333; /* Teal background color */
    color: #fff;
    padding: 1.25em;
    text-align: center;
}

nav {
    background-color: #222; /* Darker background color */
    color: #fff;
    padding: 0.625em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.625em;
}

main {
    margin: 1.25em;
}

article {
    margin-bottom: 1.25em;
    background-color: #222; /* Darker background color for articles */
    padding: 0.9375em;
    border-radius: 0.3125em;
}

h2 {
    color: #ddd; /* Light heading color */
}

p {
    line-height: 1.5;
    color: #ccc; /* Light paragraph text color */
}

form {
    margin-top: 1.25em;
}

input,
textarea {
    width: 100%;
    padding: 0.625em;
    margin-bottom: 0.625em;
    background-color: #555; /* Darker background color for input fields */
    color: #ddd; /* Light text color for input fields */
}

button {
    background-color: #003333; /* Teal button color */
    color: #fff;
    padding: 0.625em 1.25em;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #222; /* Darker background color for footer */
    color: #ccc; /* Light text color for footer */
    padding: 1.25em;
    text-align: center;
}

/* Specific styles for code snippets */
pre.ql-syntax {
    background-color: #fff; /* White background for code snippets */
    color: #333; /* Dark text color for code snippets */
    padding: 0.9375em;
    border-radius: 0.3125em;
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Adjust other styles for better code snippet visibility */
pre.ql-syntax code {
    color: inherit; /* Inherit color from parent */
    font-size: inherit; /* Inherit font size */
    white-space: pre-wrap; /* Preserve line breaks */
    word-break: normal; /* Prevent word break */
}

/* Styling for search container */
.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center items vertically */
    background-color: #222; /* Darker background color for search container */
    /*padding: 1em 1em 1em 1em; /* Adjust padding as needed */
    border-radius: 0.3125em;
    margin-bottom: 1.25em;
    margin-right: 1.25em; /* Adjust margin as needed */
    width: calc(100%); /* Calculate the width minus the normal border (1em on each side) */
}

/* Styling for search input */
.search-input {
    /*padding: 0.625em;*/
    margin-right: 0.625em; /* Adjust margin as needed */
    margin-top: 0.625em; /* Adjust margin as needed */
    background-color: #555; /* Darker background color for input fields */
    color: #ddd; /* Light text color for input fields */
    border: none;
    border-radius: 0.3125em;
    width: 30em;
}

/* Styling for search button */
.search-button {
    padding: 0.625em 0em; /* Adjust vertical and horizontal padding */
    background-color: #003333; /* Teal button color */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3125em;
    margin-left: auto;
    margin-right: 0.3125em;
}